In [1]:
import seaborn as sns
tips = sns.load_dataset('tips')
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [2]:
tips.sex.apply(lambda  x: 'F' if x == 'Female' else 'M')

0      F
1      M
2      M
3      M
4      F
      ..
239    M
240    F
241    M
242    M
243    F
Name: sex, Length: 244, dtype: category
Categories (2, object): ['M', 'F']

In [3]:
tips.select_dtypes('float64').applymap(lambda x:x+1)

C:\Users\bymys\AppData\Local\Temp\ipykernel_25784\3619745686.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  tips.select_dtypes('float64').applymap(lambda x:x+1)

     total_bill   tip
0         17.99  2.01
1         11.34  2.66
2         22.01  4.50
3         24.68  4.31
4         25.59  4.61
..          ...   ...
239       30.03  6.92
240       28.18  3.00
241       23.67  3.00
242       18.82  2.75
243       19.78  4.00

[244 rows x 2 columns]

In [4]:
tips.apply(lambda x: x ['total_bill'] * x['tip'], axis= 1 )

0       17.1599
1       17.1644
2       73.5350
3       78.3808
4       88.7699
         ...
239    171.8576
240     54.3600
241     45.3400
242     31.1850
243     56.3400
Length: 244, dtype: float64